<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <!-- This requires the presence of the 'obamenu' package to work -->
  <menu id="applications-menu" label="Démarrer" execute=".config/openbox/obamenu.py"/>
  <separator />
  <item label="Configurer Le Menu">
    <action name="Execute"><execute>.config/openbox/obmenu2/obmenu2 --file ~/.config/openbox/debian-menu.xml</execute></action>
  </item>  
  <separator />
  <item label="Configurer OpenBox">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Rafraîchir Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Redémarrer Openbox">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Configurer Tint2">
    <action name="Execute"><execute>tint2conf</execute></action>
  </item>
  <separator />
  <item label="Paramètres du bureau">
    <action name="Execute"><execute>pcmanfm --desktop-pref</execute></action>
  </item>
  <separator />
  <item label="Fermer la session">
        <action name="Execute"><execute>/usr/bin/killall lxsession</execute></action>
  </item>
  <item label="Redémarrer le PC">
        <action name="Execute"><execute>/usr/sbin/reboot</execute></action>
  </item>
  <item label="Eteindre Le PC">
        <action name="Execute"><execute>/usr/sbin/poweroff</execute></action>
  </item>
</menu>

</openbox_menu>
